@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

.containerBanner {
  padding-top: 40px;
  padding-bottom: 50px;
  box-sizing: border-box !important;
  height: calc(558px - 91px);
  background-color: #ffc700;
}

.bannerText {
  font-family: "Abhaya Libre";
  font-size: 55px;
  font-weight: 800;
  color: #433434;
}
.textbanner {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.img {
  align-items: center;
  justify-content: center;
  width: 405px;
  height: 375px;
}

.mainContent {
  background-color: #e5e5e5;
  height: 200%;
  padding-bottom: 10vh;
}

.popularCard {
  display: flex;
  width: 23% !important;

  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}
.cardText {
  margin-top: 20px;
}

.card {
  width: 23% !important;
  border-radius: 5px;
  position: relative;
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: black;
}
.popImage {
  width: 65px;
  height: 65px;
}
.partnerImage {
  width: 100%;
  height: 23vh;
  object-fit: cover;
}
